@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: blue;
    
}

main {
    background-color: white;
    margin: auto;
    max-width: 50%;
    height: 93vh;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 3px 3px 15px black;
    padding: 20px;
    text-align: center;
    
}

p {
    margin: 15px 15px;
}