@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    transition: background 0.3s linear;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}


div {
    margin: 30px;
}


p {
    display: flex;
    justify-content: center;
}

button {
    display: flex;
    align-items: center;
    padding: 15px;
}